*{
    margin:0;
    padding:0;    
}
.letra{
    font-family: "ZCOOL QingKe HuangYou", cursive;
}
#app{
    background-color: #2980b9;
    height:100vh;
}
i{
   font-size: 50px;
}
I:hover{
    color:yellow;
}